@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


.btn-gradient {
  background: linear-gradient(135deg, #267a80, #40b9c2);
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.btn-gradient:hover {
  background: linear-gradient(135deg, #40b9c2, #267a80);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.text-primary {
  color: #237c83;
}

.text-secondary {
  color: #40b9c2;
}

.text-header {
  color: #188f97;
}

/* swiper */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
