@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
.nav-link-active {
  color: #40b9c2;
}

.btn-gradient {
  background: linear-gradient(135deg, #267a80, #40b9c2);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.btn-gradient:hover {
  background: linear-gradient(135deg, #40b9c2, #267a80);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}